@font-face {
    src: url(fonts/BebasNeue-Light.otf);
    font-family: BebLight;
}

/* ------------------------------------------------------------------ */
/* --------------------------- BASIC SETUP -------------------------- */
/* ------------------------------------------------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Lato', 'Arial', sans-serif;
/*    font-weight: 200;*/
    font-size: 20px;
/*    text-rendering: optimizeLegibility;*/
}

a {
    color: #67253F;
}

h1{
    color: white;
/*    font-size: 50px;*/
    font-size: 250%;
}

h2{
    font-size: 28px;
/*    font-size: 140%;*/
}
h3{
    font-size: 20px;
/*    font-size: 100%;*/
}
/* ----------------------------------------------------------------------- */
/* --------------------------- GENERIC SECTIONS -------------------------- */
/* ----------------------------------------------------------------------- */

/* --------------------------- CONTAINERS -------------------------- */
.home-container{
    min-width: 45rem;
}
.about-me-container{
    min-width: 45rem;
}
.service-container{
    min-width: 45rem;
}
.professional-container{
    min-width: 45rem;
}
.portfolio-container{
    min-width: 45rem;
}

/* --------------------------- HEADER -------------------------- */
header{
    /* Sizing */
    height: 10vh;
    /* Background Color */
    background-color: rgba(0,0,0,.1);
    /* Positioning */
    position: relative;
}
    header .topnav {
        /* Sizing */
        width: 40rem;
        list-style-type: none;
        /* Positioning */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
        .topnav li {
            /* Positioning */
            float: left;
            /* Sizing */
            width: 20%;
            /* Chil Position */
            text-align: center;
        }
        .topnav a {
            /* Positioning */
            display: inline-block;
            /* Sizing */
            padding: 0px 15%;
            /*  Coloring */
            color: white;
            text-decoration: none;
        }
        .topnav a:hover {
            border-radius: 4px;
            border-bottom: 2px solid grey;
        }
        .active {
            border-radius: 4px;
            border-bottom: 2px solid #67253F;
        }

/* --------------------------- PAGE TITLE -------------------------- */
.home-page-title-container{
    color: white;
    height: 90vh;
}
.page-title-container{
    color: white;
    height: 90vh;
    font-family: 'BebLight', 'Lato', 'Arial', sans-serif;
    font-weight: bold;
}
    .page-title{
        text-align: center;
        padding-top: 12.5%;
    }
    .page-title p {
        display: inline-block;
        font-size: 140px;
        border-bottom: 5px solid white;
    }

/* --------------------------- TEXT BOX -------------------------- */
.text-box {
    font-family: 'Alata', 'Lato', 'Arial', sans-serif;
    line-height: 175%;
    padding: 0% 25%;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: justify;
}

/* --------------------------- FOOTER -------------------------- */
    footer {
        /* Positioning */
        position: relative;
        height: 7.5vh;
        color: grey;
        text-align: center;
    }
        .footer-nav {
            /* Sizing */
            width: 30rem;
            /* Positioning */
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
            .footer-nav .footer-box {
                /* Positioning */
                float: left;
                /* Sizing */
                width: 33.3333333333333333%;
                font-size: 75%;
            }
            .footer-box p {
                display: inline-block;
                vertical-align: middle;
            }
            .footer-box ion-icon{
                display: inline-block;
                vertical-align: middle;
                padding-right: 5px;
            }
            .footer-box a {
                display: inline-block;
                vertical-align: middle;
            }

/* ------------------------------------------------------------------ */
/* ------------------------------ New ------------------------------- */
/* ------------------------------------------------------------------ */
/*

.box {
    float: left;
    width: 33.33%;
    padding: 50px;
}
*/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
    height: 100%;
    display:block;
}

.text-box {
    font-family: 'Alata', 'Lato', 'Arial', sans-serif;
    line-height: 175%;
    padding: 0% 25%;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: justify;
}
.TextBoxTitle {
    text-align: center;
    padding-top: 50px;
}

/* ------------------------------------------------------------------ */
/* -------------------------- Backgrounds --------------------------- */
/* ------------------------------------------------------------------ */

.picture-background{
    background-position: center;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
/*    width: 100vw;*/
}

.home-container .picture-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("img/Home/LargerPortrait4.jpg");
    background-position: top;
}

.about-me-container .picture-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("img/AboutMe/TheBean.jpeg");
}

.service-container .picture-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("img/Service/Ring.jpg");
}

.professional-container .picture-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("img/Professional/Port2.jpg");
}

.portfolio-container .picture-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("img/Portfolio/Port1.jpg");
}

/* ------------------------------------------------------------------ */
/* ------------------------------ HOME ------------------------------ */
/* ------------------------------------------------------------------ */

.home-title {
    float: right;
    width: 50%;
}
    .home-title h1 {
        width: 15rem;
        padding-top: 25%;
        margin-right: 51%;
    }
    .home-title p{
        width: 15rem;
        margin-right: 51%;
        opacity: 75%;
        font-style: italic;
    }
    .home-title .icon-div {
        padding-top: .5rem;
        width: 15rem;
        float: left;
    }
        .home-title .icon-div ion-icon {
            padding-right: 10%;
            font-size: 210%;
            left: 50%;
            color: #67253F;
        }

/* ------------------------------------------------------------------ */
/* ---------------------------- About Me ---------------------------- */
/* ------------------------------------------------------------------ */

/* ------------------------------------- */
/* ---------- Picture Collage ---------- */
/* ------------------------------------- */

.section-pictures {
    padding: 0;
}

.pictures-showcase {
    list-style: none;
    width: 100%;
}

.pictures-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.picture-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.picture-photo img {
    opacity: 0.9;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.picture-photo img:hover {
    opacity: 1;
    transform: scale(1.03);
}

/* ------------------------------------------------------------------ */
/* ----------------------------- Service ---------------------------- */
/* ------------------------------------------------------------------ */

.ServiceText{
    line-height: 175%;
}
    .ServiceText .quote-container{
        font-family: 'Alata', 'Lato', 'Arial', sans-serif;
        color: black;
        width: 100%;
        font-size: 150%;
        text-align: center;
    }
    .quote-container .quote{
        margin: 20vh 0vh;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        padding: 75px;
        width: 30rem;
        display: inline-block;
    }
        .quote .q1{
            padding-bottom: 1rem;
            text-align: justify;
        }
        .quote .q2{
            color: black;
            font-style: italic;
            text-align: right;
        }
    .ServiceText a{
        color: white;
    }
    .HeaderPic{
        border-radius: 15px;
        height: 160px;
        text-align: center;
        background-position: center;
        background-size: cover;
        margin: 0% 12.5%;
        padding-top: 50px;
    }

    .BAM .HeaderPic{
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("img/Service/BAM.jpeg");
    }
    .Impact .HeaderPic{
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("img/Service/Impact.jpeg");
    }
    .PhysicsFestival .HeaderPic{
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("img/Service/Physics.jpg");
    }
    .SITC .HeaderPic{
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("img/Service/SITC.jpeg");
    }
    .BAM h3 {
        color: white;
    }

/* ------------------------------------------------------------------ */
/* ------------------------ Professional ---------------------------- */
/* ------------------------------------------------------------------ */

.ProfessionalSection{
    text-align: center
}
    .ProfessionalSection .TextBoxTitle{
        padding-top: 100px;
/*        padding-bottom: 0px;*/
    }
    .ProfessionalSection .TextBoxTitle h2{
        display: inline-block;
        color: #67253F;
        border-bottom: 3px solid #67253F;
    }
    
    .ProfessionalSection .TextBox{
        padding-top: 25px;
        padding-bottom: 0px;
    }
    .ProfessionalSection ion-icon{
        padding: 25px 0px;
        padding-bottom: 100px;
        font-size: 175%;
    }


/* ------------------------------------------------------------------ */
/* ---------------------------- Portfolio --------------------------- */
/* ------------------------------------------------------------------ */

.Project{
    text-align: center;
    
}
    .ProjectImg{
        margin: 0% 25%;
        padding-top: 150px;

    }
        .ProjectImg img{
            border: 3px solid grey;
            border-radius: 50px;
            width: 100%;
            height: auto;
        }
    .ProjectImg video{
            border: 3px solid grey;
            border-radius: 50px;
            width: 100%;
            height: auto;
        }
    .ProjectDescription{
    }
        .ProjectDescription .TextBoxTitle{
/*            padding-top: 50px;*/
        }
            .ProjectDescription h2{
                display: inline-block;
/*                Maroon*/
/*
                color: #67253F;
                border-bottom: 2px solid #67253F;
*/
/*                Green*/
                color: #00CAA4;
                border-bottom: 2px solid #00CAA4;
/*                Blue*/
                color: #0379C1;
                border-bottom: 2px solid #0379C1;
            }
        .ProjectDescription .TextBox{
            padding-top: 15px;
        }
    .ProjectDescription .GithubTitle{
    }
    .ProjectDescription .GithubHeader{
        border-bottom: none;
    }
    .GithubButton{
        padding-top: 25px;
        padding-bottom: 150px;
    }
        .GithubButton img{
            height: 100px;
            border-radius: 100px;
            border: 5px solid #67253F;
            border: 3px solid grey;
/*            border: 10px solid #009E85;*/
        }